doctype
html
  head
    title ChartistGraph
  script(src='/css/chartist.css')
  script(src='/js/chartist.js')
  body
    header
      h1 My Site
      #mychart
      script.
        console.log(JSON.#{data})
        console.log(JSON.#{options})
        console.log(JSON.#{responsiveOptions})
        new Chartist.Line('#mychart', JSON.#{data}, JSON.#{options}, JSON.#{responsiveOptions});